.container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: #98efc3;
    text-align: center;
}

form {
    font-size: 18px;
}

h2 {
    color: #292626;
}

input[type="number"], input[type="number"] {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #4CAF50;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.result {
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .container {
        width: 80%;
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: 90%;
    }
}

